* {
    padding: 0;
    margin: 0;
  }
  body {
    min-height: 100vh;
    position: relative; 
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .h3 {
    font-size: medium;
    font-family: "ヒラギノ角ゴシック";
  }

    

  header {
    background-color: rgb(255, 150, 64);
    height: 100px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  .image-1 img {
    width: 400px;
    height: 300px;
  }

  header h1 {
    margin-left: 20px;
    color: white;
  }
  
  nav ul {
    display: flex; 
  }

  nav li{
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 90px;
  }

  nav a.current{
    color: #2be2d3;
    border-bottom:2px solid #2be2d3;
    font-family: "ヒラギノ角ゴシック";
  }

  nav a:hover{
    color:#F7CB4D;
  }

  footer {
    color: white;
    height: 30px;
    background-color: orange;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
  }