.tweet {
    margin: 10px;
    padding-top: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.main-container {
    border: solid 3px black;
    width: 20%;
    margin: 10px;
    height: 50%;
}

.first-container {
    margin: 10px;
    font-weight: bold;
}
.second-container {
    text-align: center;
}

.third-container {
    margin: 10px;
}

.fourth-container {
    margin: 10px;
}

.fifth-container {
    margin: 10px;
}

.sixth-container {
    margin: 10px;
}