.h3 {
    margin: 100px;
}

.cleaning-container {
    text-align: center;
    background-color: white;
}
.doing-conatiner{
    text-align: center;
    background-color: #d3def1;
}
.time-container{
    text-align: center;
    background-color: #d3def1;
}